<h1 class="account__title">My Account</h1>
<main class="account container">
    <nav class="account__nav">
        <ul>
            <li><a asp-controller="User" asp-action="Profile">Profile</a></li>
            <li><a asp-controller="User" asp-action="MyOrder">My Order</a></li>
            <li class="active"><a>Order History</a></li>
        </ul>
    </nav>

    <section class="">
        <table class="order">
            <thead class="order__header">
                <tr>
                    <th><input type="checkbox" name="" id="" /></th>
                    <th>Book Details</th>
                    <th>Date Order</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th>Price</th>
                    <th>---</th>
                </tr>
            </thead>
            <tbody class="order__body">
                <tr class="order__item">
                    <td><input type="checkbox" name="" id="" /></td>
                    <td class="order__info">
                        <div class="order__info-img-container">
                            <img src="~/images/books/thehardthing.jpg" alt="" />
                        </div>
                        <div class="order__info-details-container">
                            <p class="order__info-title">
                                Zero to One: Notes on Startups, or How to Build the Future
                            </p>
                            <p class="order__info-qty">QTY: <span>5</span></p>
                            <p class="order__info-price">
                                Price: <span>P 43, 232.32</span>
                            </p>
                            <p class="order__info-payment">
                                Payment Method: <span>GCash</span>
                            </p>
                            <p class="order__info-date">
                                Date Order: <span>01 Jan 2024</span>
                            </p>
                            <p class="order__info-status">
                                Status: <span>Completed</span>
                            </p>
                        </div>
                    </td>
                    <td class="order__info-date2">01 Jan 2024</td>
                    <td class="order__info-payment2">Cash On Delivery</td>
                    <td class="order__info-status2">Completed</td>
                    <td class="order__info-price2">P 2,125.25</td>
                    <td>---</td>
                </tr>
                <tr class="order__item">
                    <td><input type="checkbox" name="" id="" /></td>
                    <td class="order__info">
                        <div class="order__info-img-container">
                            <img src="~/images/books/thehardthing.jpg" alt="" />
                        </div>
                        <div class="order__info-details-container">
                            <p class="order__info-title">
                                Zero to One: Notes on Startups, or How to Build the Future
                            </p>
                            <p class="order__info-qty">QTY: <span>5</span></p>
                            <p class="order__info-price">
                                Price: <span>P 43, 232.32</span>
                            </p>
                            <p class="order__info-payment">
                                Payment Method: <span>GCash</span>
                            </p>
                            <p class="order__info-date">
                                Date Order: <span>01 Jan 2024</span>
                            </p>
                            <p class="order__info-status">
                                Status: <span>Completed</span>
                            </p>
                        </div>
                    </td>
                    <td class="order__info-date2">01 Jan 2024</td>
                    <td class="order__info-payment2">Cash On Delivery</td>
                    <td class="order__info-status2">Completed</td>
                    <td class="order__info-price2">P 2,125.25</td>
                    <td>---</td>
                </tr>
                <tr class="order__item">
                    <td><input type="checkbox" name="" id="" /></td>
                    <td class="order__info">
                        <div class="order__info-img-container">
                            <img src="~/images/books/thehardthing.jpg" alt="" />
                        </div>
                        <div class="order__info-details-container">
                            <p class="order__info-title">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Maxime, rerum?Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Dicta, quibusdam.
                            </p>
                            <p class="order__info-qty">QTY: <span>5</span></p>
                            <p class="order__info-price">
                                Price: <span>P 43, 232.32</span>
                            </p>
                            <p class="order__info-payment">
                                Payment Method: <span>GCash</span>
                            </p>
                            <p class="order__info-date">
                                Date Order: <span>01 Jan 2024</span>
                            </p>
                            <p class="order__info-status">
                                Status: <span>Completed</span>
                            </p>
                        </div>
                    </td>
                    <td class="order__info-date2">01 Jan 2024</td>
                    <td class="order__info-payment2">Cash On Delivery</td>
                    <td class="order__info-status2">Completed</td>
                    <td class="order__info-price2">P 2,125.25</td>
                    <td>---</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>