<main class="cart-page container">
    <section class="cart">
        <div class="cart__header">
            <i class="cart__header-back">&#8592;</i>
            <h1 class="cart__header-title">My Cart</h1>
        </div>

        <table class="cart__table">
            <thead class="cart__label">
                <tr>
                    <th>Book</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody class="display-items">
                <tr>
                    <td class="cart__item">
                        <div class="cart__item-img-container">
                            <img src="~/added-books/thehardthing.jpg" alt="" />
                        </div>
                        <div class="cart__item-details">
                            <h1>
                                Cryptography Engineering: Design Principles and Practical
                                Applications
                            </h1>
                            <div class="cart__item-qty">
                                QTY:
                                <button>-</button>
                                <p>2</p>
                                <button>+</button>
                            </div>
                            <p class="cart__item-remove">REMOVE</p>
                            <p class="cart__item-price">&#8369; 232.43</p>
                        </div>
                        <div class="cart__item-price2">&#8369; 5, 232.43</div>
                        <div class="cart__item-total">&#8369; 23, 232.43</div>
                    </td>
                </tr>
                <tr>
                    <td class="cart__item">
                        <div class="cart__item-img-container">
                            <img src="~/added-books/thehardthing.jpg" alt="" />
                        </div>
                        <div class="cart__item-details">
                            <h1>
                                Cryptography Engineering: Design Principles and Practical
                                Applications
                            </h1>
                            <div class="cart__item-qty">
                                QTY:
                                <button>-</button>
                                <p>2</p>
                                <button>+</button>
                            </div>
                            <p class="cart__item-remove">REMOVE</p>
                            <p class="cart__item-price">&#8369; 232.43</p>
                        </div>
                        <div class="cart__item-price2">&#8369; 5, 232.43</div>
                        <div class="cart__item-total">&#8369; 23, 232.43</div>
                    </td>
                </tr>
                <tr>
                    <td class="cart__item">
                        <div class="cart__item-img-container">
                            <img src="~/added-books/thehardthing.jpg" alt="" />
                        </div>
                        <div class="cart__item-details">
                            <h1>
                                Cryptography Engineering: Design Principles and Practical
                                Applications
                            </h1>
                            <div class="cart__item-qty">
                                QTY:
                                <button>-</button>
                                <p>2</p>
                                <button>+</button>
                            </div>
                            <p class="cart__item-remove">REMOVE</p>
                            <p class="cart__item-price">&#8369; 232.43</p>
                        </div>
                        <div class="cart__item-price2">&#8369; 5, 232.43</div>
                        <div class="cart__item-total">&#8369; 23, 232.43</div>
                    </td>
                </tr>
                <tr>
                    <td class="cart__item">
                        <div class="cart__item-img-container">
                            <img src="~/added-books/thehardthing.jpg" alt="" />
                        </div>
                        <div class="cart__item-details">
                            <h1>
                                Cryptography Engineering: Design Principles and Practical
                                Applications
                            </h1>
                            <div class="cart__item-qty">
                                QTY:
                                <button>-</button>
                                <p>2</p>
                                <button>+</button>
                            </div>
                            <p class="cart__item-remove">REMOVE</p>
                            <p class="cart__item-price">&#8369; 232.43</p>
                        </div>
                        <div class="cart__item-price2">&#8369; 5, 232.43</div>
                        <div class="cart__item-total">&#8369; 23, 232.43</div>
                    </td>
                </tr>
                <tr>
                    <td class="cart__item">
                        <div class="cart__item-img-container">
                            <img src="~/added-books/thehardthing.jpg" alt="" />
                        </div>
                        <div class="cart__item-details">
                            <h1>
                                Cryptography Engineering: Design Principles and Practical
                                Applications
                            </h1>
                            <div class="cart__item-qty">
                                QTY:
                                <button>-</button>
                                <p>2</p>
                                <button>+</button>
                            </div>
                            <p class="cart__item-remove">REMOVE</p>
                            <p class="cart__item-price">&#8369; 232.43</p>
                        </div>
                        <div class="cart__item-price2">&#8369; 5, 232.43</div>
                        <div class="cart__item-total">&#8369; 23, 232.43</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="summary">
        <h1 class="summary-header">SUMMARY</h1>
        <div class="summary__subtotal">
            <div>
                <h2>SUBTOTAL</h2>
                <p>shipping fee</p>
                <p>tax</p>
            </div>
            <div>
                <p>&#8369; 27, 235.56</p>
                <p>&#8369; 85</p>
                <p>&#8369; 25.23</p>
            </div>
        </div>
        <div class="summary__total">
            <h2>Estimated Total</h2>
            <p>&#8369; 27, 235.56</p>
        </div>
        <button class="summary__button">Checkout</button>
    </section>
</main>