<h1 class="featured__title">Featured Authors</h1>

<main class="featured-authors-container">
    <div class="featured-author">
        <div class="featured-author-wrapper">
            <img class="author-pic" src="~/images/authors/James Clear.webp" />
            <div>
                <h2 class="author-name">About James Clear</h2>
                <p class="author-description">A speaker and writer renowned for his observations on habits and personal growth. In his best-selling book "Atomic Habits," he examines how little, gradual changes can result in big life gains. With ideas like the "Four Laws of Behavior Change," Clear presents doable tactics and highlights the significance of concentrating on the process of habit building as opposed to just results. For readers looking for long-lasting change, the book's combination of compelling writing and scientific data makes it approachable and useful.</p>
            </div>
        </div>
    </div>
    <div class="featured-author">
        <div class="featured-author-wrapper">
            <img class="author-pic" src="~/images/authors/Viktor Frankl.webp" />
            <div>
                <h2 class="author-name">About Viktor Frankl</h2>
                <p class="author-description">An Austrian neurologist, psychiatrist, and Holocaust survivor whose experiences profoundly shaped his career as an author. His most famous work, <strong style="font-weight: bold;">"Man's Search for Meaning,"</strong> combines his personal narrative of enduring life in Nazi concentration camps with insights from his psychological practice. The book emphasizes the importance of finding purpose, even in the most challenging circumstances. Frankl argues that meaning is essential for psychological well-being and introduces logotherapy, his therapeutic approach focused on helping individuals discover personal significance in their lives. Through his reflections, Frankl inspires readers to confront suffering with resilience and hope.</p>
            </div>
        </div>
    </div>
    <div class="featured-author">
        <div class="featured-author-wrapper">
            <img class="author-pic" src="~/images/authors/Stan Lee.webp" />
            <div>
                <h2 class="author-name">About Stan Lee</h2>
                <p class="author-description">Known for co-creating legendary characters like Spider-Man, Stan Lee was a significant writer and editor for comic books. In "The Amazing Spider-Man," illustrator Steve Ditko and writer Stan Lee narrate the tale of teenage Peter Parker, who acquires superpowers following a radioactive spider bite. The Green Goblin and other well-known villains test Peter's ability to balance his personal life with his heroic obligations as Spider-Man. The story focuses on themes of justice, identity, and accountability; the well-known quote, "With great power comes great responsibility," captures these ideas and makes Spider-Man a timeless and approachable hero.</p>
            </div>
        </div>
    </div>
</main>