:root {
    --clr-primary: #004c8c;
    --clr-primary-light: #6eb5ff;
    --clr-secondary: #00ffd8;
    --clr-text: white;
    --ff-heading: "Luckiest Guy", cursive;
    --ff: "Roboto", sans-serif;
}

/* || RESET CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: var(--ff);
    color: var(--clr-text);
    display: grid;
    background-color: #dfe0ff;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.box {
    display: grid;
    grid-template-rows: 160px 1fr;
    border: 3px solid var(--clr-primary);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
    position: relative;
    min-width: 125px;
    max-width: 125px;
    cursor: pointer;
    transition: all 0.15s;
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 15px solid transparent;
    border-bottom: 15px solid var(--clr-primary);
    transform: rotate(180deg);
    z-index: 2;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 15px solid transparent;
    border-bottom: 15px solid var(--clr-primary);
    transform: rotate(-90deg);
    z-index: 2;
}

.box:hover {
    transform: scale(1.01);
    transform: translateY(-0.3em);
}

.box > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img {
    width: 90%;
    height: 90%;
}

.box .book-info {
    display: grid;
    background-color: var(--clr-primary);
    justify-items: center;
    font-size: 0.9rem;
    padding-block: 0.5em;
}

.box .title {
    color: var(--clr-text);
    font-weight: bold;
}

.box-buttons form {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.box-buttons form > * {
    color: var(--clr-text);
    padding: 0.3em 0.8em;
    text-align: center;
}

.box-buttons form a {
    background-color: #17209e;
}

.box-buttons form button{
    background-color: #bf0000;
}


@media only screen and (min-width: 768px) {
    .box {
        grid-template-rows: 180px 1fr;
        min-width: 135px;
        max-width: 135px;
    }

    .box-buttons form {
        flex-direction: row;
        justify-content: center;
    }

    .box-buttons form > * {
        flex: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .box {
        grid-template-rows: 220px 1fr;
        min-width: 170px;
        max-width: 170px;
    }

    .box::before {
        border-left: 25px solid transparent;
        border-bottom: 25px solid var(--clr-primary);
    }

    .box::after {
        border-left: 25px solid transparent;
        border-bottom: 25px solid var(--clr-primary);
    }

    .box .title {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1440px) {
    .box {
        grid-template-rows: 230px 1fr;
        min-width: 180px;
        max-width: 180px;
    }

    .box::before {
        border-left: 30px solid transparent;
        border-bottom: 30px solid var(--clr-primary);
    }

    .box::after {
        border-left: 30px solid transparent;
        border-bottom: 30px solid var(--clr-primary);
    }
}

/**!------------------------ SCROLLBAR ------------------------*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f2f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 167, 245);
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr-primary);
}

/**************************************** || HEADER ****************************************/

.header {
    position: sticky;
    top: 0;
    background-color: var(--clr-primary);
    display: flex;
    font-weight: bold;
    gap: 1em;
    align-items: center;
    z-index: 1000;
}

.header .header__menu {
    border: none;
    background-color: var(--clr-primary);
    color: inherit;
    transition: all 0.15s;
    cursor: pointer;
    padding: 1em;
}

.header .header__menu:hover,
.header .header__menu:focus-visible {
    background-color: #006fca;
}

.header__title {
    font-weight: bold;
    white-space: nowrap;
}

.header__logout {
    margin-left: auto;
    font-size: 0.8rem;
}

.header__logout a {
    display: block;
    padding: 1.2em;
    transition: all 0.15s;
    white-space: nowrap;
}

.header__logout a:hover,
.header__logout a:focus-visible {
    background-color: #006fca;
}

/**************************************** || SIDEBAR ****************************************/

.sidebar {
    background-color: #0070ce;
    padding-top: 2.5em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar.big-show {
    transform: translateX(-100%);
}

.sidebar__exit {
    color: inherit;
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.5rem;
    border: none;
    background-color: inherit;
}

.xmark {
    font-size: 1.5rem;
}

.sidebar__logo {
    font-family: var(--ff-heading);
    font-size: 1.4rem;
    text-align: center;
    padding: 1em 0;
}

.sidebar__dashboard {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1em;
}

.sidebar__logo p:first-child {
    color: var(--clr-secondary);
    display: inline-block;
}

.sidebar__logo p:last-child {
    display: inline-block;
}

.sidebar__menu {
    display: grid;
}

.sidebar__menu > button {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.sidebar__menu > button:hover,
.sidebar__menu > button:focus-visible {
    background-color: #429cfd;
}

.sidebar__menu > button .fa-angle-right {
    transition: transform 0.15s;
}

.sidebar__submenu {
    display: grid;
    max-height: 0;
    overflow: hidden;
    justify-content: center;
    background-color: #004c8c;
    font-weight: 500;
    transition: all 0.15s;
}

.sidebar__submenu.show {
    max-height: 500px;
}

.sidebar__submenu > a {
    padding: 1em 0;
    text-align: start;
}

.sidebar__submenu > a:hover,
.sidebar__submenu > a:focus-visible {
    color: var(--clr-secondary);
}

/**************************************** || ADD BOOKS ****************************************/
.add-books {
    color: black;
}

.add-books__title {
    background: linear-gradient( to top, #000000 0%, #002646 23%, #003969 44%, #00ffd8 81% );
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
}

.add-books__form form {
    display: grid;
    gap: 1em;
    max-width: 500px;
    margin: 0 auto;
}

.add-books__form-col {
    display: grid;
    gap: 0.5em;
}

.add-books__form-form-group {
    display: grid;
}

.add-books__form-form-group textarea {
    resize: none;
    border-radius: 6px;
    padding: 0.5em;
    border: 1px solid black;
}

.add-books__form-form-group input[type="file"] {
    width: 100%;
    cursor: pointer;
}

.add-books__form-form-group
input[type="file"]:hover::-webkit-file-upload-button,
.add-books__form-form-group
input[type="file"]:focus-visible::-webkit-file-upload-button {
    background-color: var(--clr-primary);
    color: var(--clr-text);
}

.add-books__form-form-group input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
    border: 1px solid black;
    padding: 0.5em;
}

.add-books__form-form-group label {
    font-weight: bold;
}

.add-books__form-form-group p {
    display: none;
}

.add-books__form-form-group input {
    padding: 0.5em;
    max-width: 100%;
}

.add-books__form-form-group input:not(input[type="file"]) {
    border-radius: 6px;
    border: 1px solid black;
}

.add-books__form-buttons {
    display: flex;
    flex-direction: column;
    color: var(--clr-text);
    gap: 0.5em;
    margin-bottom: 2em;
    font-weight: bold;
}

.add-books__form-buttons button {
    background-color: var(--clr-primary);
    padding: 0.3em;
    border-radius: 5px;
}

.add-books__form-buttons button:last-child {
    background-color: var(--clr-text);
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
}

.add-books__form-buttons button:hover,
.add-books__form-buttons button:focus-visible {
    opacity: 0.8;
    transform: scale(1.01);
}

/**************************************** || ORDER ****************************************/
.order {
    color: black;
}

.order__sub-title {
    margin-top: -1em;
    text-align: center;
}

.order__sub-title::after {
    content: " *";
    color: rgb(206, 0, 0);
}

.order__nav {
    overflow-y: scroll;
    margin: 1em 0;
}

.order__nav::-webkit-scrollbar {
    display: none;
}

.order__nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: #b9b9b9;
    font-weight: bold;
    margin: 0 auto;
}

.order__nav ul li {
    flex-basis: 80px;
    flex-shrink: 0;
    text-align: center;
}

.order__nav ul li a:hover,
.order__nav ul li a:focus-visible {
    color: var(--clr-primary);
}

.order__nav ul li.active {
    color: black;
    position: relative;
    pointer-events: none;
}

.order__nav ul li.active::after {
    content: "";
    height: 2px;
    background-color: var(--clr-primary);
    position: absolute;
    bottom: 0px;
    left: 3px;
    right: 3px;
}

.order__table {
    width: 100%;
}

.order__table-header {
    display: none;
}

.order__table-body {
    display: grid;
    font-size: 0.8rem;
    gap: 0.2em;
}

.order__table-body-big {
    display: none;
}

.order__table-body tr {
    display: grid;
    grid-template-columns: 75px 2fr 1fr 20px;
    justify-items: center;
    align-items: center;
    padding: 1em 0;
    border-radius: 10px;
    background-color: var(--clr-text);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.096);
}

.order__table-body-img img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.order__table-body-details {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
}

.order__table-body-details > * {
    white-space: nowrap;
}

.order__table-body-details h1 {
    color: var(--clr-primary);
    font-weight: bold;
}

.order__table-body-details p {
    font-size: 0.7rem;
}
    
.order__table-body-details p:last-child {
    font-weight: bold;
}

.order__table-body-id {
    font-size: 0.7rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1.2em;
    font-weight: bold;
}

.fa-ellipsis-vertical {
    cursor: pointer;
}

.order__table-body-id p {
}

.order__table-body-id div {
    color: #086100;
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

.order__action-cell {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 500;
}

/* Dropdown items */
.dropdown-item {
    white-space: nowrap;
    display: block;
    padding: 1em 2em;
    color: #333;
}

.dropdown-item:hover,
.dropdown-item:focus-visible {
    color: white;
    background-color: var(--clr-primary);
    cursor: pointer;
    }

.dropdown-item-status-items {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 600
}

.dropdown-item-status.focus {
    background-color: var(--clr-primary);
    color: white;
}

.dropdown-item-status {
    cursor: pointer;
    position: relative;
}

/* To show dropdown-item-status-items when it's visible */
.dropdown-item-status-items button {
    width: 100px;
    height: 40px;
    color: #333;
}

.dropdown-item-status-items button:hover {
    background-color: var(--clr-primary);
    color: white;
    cursor: pointer;
}

/* || USER */
.order__table-body-details > * {
    white-space: wrap;
}

.order__table-body-details span {
    display: block;
}

.order__table-body-id .admin_Mobile {
    padding: 0.3em;
    border-radius: 0.5em;
    color: #ffffff;
    background-color: #007bff;
}

.order__table-body-id .user_Mobile {
    padding: 0.3em;
    border-radius: 0.5em;
    color: #ffffff; 
    background-color: #ff0000; 
}

/**************************************** || BOOK DETAILS ****************************************/
.breadcrumb {
    list-style: none;
    display: flex;
    gap: 0.5em;
    font-style: italic;
    margin-top: 1em;
}

.breadcrumb li + li::before {
    content: " / ";
    margin: 0 2px;
    color: gray;
}

.breadcrumb :is(li:hover, li:focus-visible) {
    color: var(--clr-primary);
}

.book-details-container {
    color: #000000;
}

.book-details {
    display: grid;
    margin: 1em 0;
}

.book-details__container {
    max-width: 50%;
    padding: 1em 0.5em;
    align-items: center;
    border: 2px solid var(--clr-primary);
    border-radius: 0.5em;
    color: var(--clr-primary);
    margin: 1rem auto;
}

.book-details__info {
    align-self: center;
}

.book-details__info form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.book-details__info-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.book-details__info-author {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 500;
    color: rgb(36, 36, 36);
}

.book-details__info-price {
    color: #dd0000;
    font-size: 1.3rem;
}

.book-details__info-btn {
    background-color: var(--clr-primary);
    color: var(--clr-text);
    border: none;
    text-align: center;
    padding: 0.5em 3em;
    border-radius: 1.5em;
    max-width: 20rem;
    transition: all 0.15s;
    cursor: pointer;
}

.book-details__info-btn.delete {
    background-color: #dd0000;
}

.book-details__info-btn:hover,
.book-details__info-btn:focus-visible {
    opacity: 0.8;
    transform: scale(1.01);
}

.book-details__info-star-stocks {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.book-details__info-rating {
    display: flex;
    gap: 1em;
    font-size: 0.8rem;
    font-weight: bold;
}

.book-details__info-rating p:last-child {
    color: gray;
    font-style: italic;
    font-size: 0.7rem;
}

.book-details__info-star-stocks .stocks {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
}

.book-details__info-star-stocks .stocks p {
    padding-top: 0.2em;
}

.book-description {
    display: grid;
    gap: 1em;
    margin-top: 3em;
}

.book-description__h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--clr-primary);
}

.book-description__hr {
    border: 2px solid var(--clr-primary);
}

.book-description__p {
    text-indent: 2em;
    line-height: 1.6rem;
}

/**************************************** || VIEW BOOKS ****************************************/
.view-books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 0.5em;
    max-width: 900px;
    margin-inline: auto;
    margin-block-end: 1em;
}


/**************************************** || RESPONSIVE LAYOUT ****************************************/
/**************************************** || RESPONSIVE LAYOUT ****************************************/
/**************************************** || RESPONSIVE LAYOUT ****************************************/
/**************************************** || RESPONSIVE LAYOUT ****************************************/
/**************************************** || RESPONSIVE LAYOUT ****************************************/
/**************************************** || RESPONSIVE LAYOUT ****************************************/
/**************************************** || RESPONSIVE LAYOUT ****************************************/

/********* || MIN-WIDTH: 768px *********/
@media only screen and (min-width: 400px) {
    .sidebar {
        right: unset;
        width: 300px;
    }

    .order__table-body-details span {
        display: inline-block;
    }
}

@media only screen and (min-width: 600px) {
    .view-books {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

}

/********* || MIN-WIDTH: 768px *********/
@media only screen and (min-width: 768px) {
    .add-books__form form {
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
    }

    .add-books__form-buttons {
        flex-direction: row;
        grid-column: span 2;
        gap: 2em;
        justify-content: center;
    }

    .add-books__form-buttons button {
        flex: 1;
        max-width: 300px;
    }

    /* || ORDER */
    .order__table {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .order__table-header {
        display: block;
        background-color: #dadada;
        border-radius: 10px;
        padding: 0.4em 0;
    }

    .order__table-header tr {
        display: grid;
        grid-template-columns: 30px 50px 1fr 1fr 1fr 1fr 1fr 50px;
        align-items: center;
    }

    .order__table-body tr {
        grid-template-columns: unset;
    }

    .order__table-body tr td:not(.order__table-body-big) {
        display: none;
    }

    .order__table-body-big {
        display: grid;
        grid-template-columns: 30px 50px 1fr 1fr 1fr 1fr 1fr 50px;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .order__table-body-big span {
        display: block;
    }

    .order__table-body-big > div:nth-child(4) {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .order__table-body-big input[type="checkbox"] {
        width: 13px;
        height: 13px;
        justify-self: center;
    }


    .order__table-body-big .admin_PC {
        color: #007bff;
    }

    .order__table-body-big .user_PC {
        color: #ff0000;
    }

    .dropdown {
        right: 2em;
    }



    /* || BOOK DETAILS */

    .book-details {
        grid-template-columns: 1fr 1.5fr;
    }

    .book-details__container {
        max-width: 70%;
    }

    /* || VIEW BOOKS */

    .view-books {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/********* || MIN-WIDTH: 1024px *********/
@media only screen and (min-width: 1024px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(0);
        min-height: 100vh;
        padding-top: 1em;
    }

    .sidebar__exit {
        display: none;
    }

    body {
        margin-left: 300px;
        transition: margin-left 0.5s;
    }

    .order__table-body-big span {
        display: inline;
    }

    .add-books__title {
        font-size: 3rem;
    }

    .book-details__container {
        max-width: 50%;
    }
}

/********* || MIN-WIDTH: 1440px *********/

@media only screen and (min-width: 1440px) {
}
