@model BookInfo

<main class="add-books container">
    <h1 class="add-books__title">Add Books</h1>
    <div class="add-books__form">
        <form method="post" enctype="multipart/form-data">
            <div class="add-books__form-col">
                <div class="add-books__form-form-group">
                    <label asp-for="Title">Title</label>
                    <p>:</p>
                    <input asp-for="Title" type="text" />
                </div>
                <div class="add-books__form-form-group">
                    <label asp-for="Author">Author</label>
                    <p>:</p>
                    <input asp-for="Author" type="text" />
                </div>
                <div class="add-books__form-form-group">
                    <label asp-for="Price">Price</label>
                    <p>:</p>
                    <input asp-for="Price" type="text" />
                </div>
                <div class="add-books__form-form-group">
                    <label asp-for="Category">Category</label>
                    <p>:</p>
                    <input asp-for="Category" type="text" />
                </div>
            </div>
            <div class="add-books__form-col">
                <div class="add-books__form-form-group">
                    <label asp-for="Description">Description</label>
                    <p>:</p>
                    <textarea asp-for="Description" rows="4"></textarea>
                </div>
                <div class="add-books__form-form-group">
                    <label for="Image">Image</label>
                    <p>:</p>
                    <input name="file" type="file" id="Image" />
                </div>
                <div class="add-books__form-form-group">
                    <label asp-for="Stock">Stock</label>
                    <p>:</p>
                    <input asp-for="Stock" type="text" />
                </div>
            </div>
            <div class="add-books__form-buttons">
                <button type="submit">Add Book</button>
                <button type="button">View Books</button>
            </div>
        </form>
    </div>
</main>