<main class="add-books container">
    <h1 class="add-books__title">Add Books</h1>
    <div class="add-books__form">
        <form action="InsertBook" method="post">
            <div class="add-books__form-col">
                <div class="add-books__form-form-group">
                    <label for="title">Title</label>
                    <p>:</p>
                    <input type="text" name="title" id="title" />
                </div>
                <div class="add-books__form-form-group">
                    <label for="author">Author</label>
                    <p>:</p>
                    <input type="text" name="author" id="author" />
                </div>
                <div class="add-books__form-form-group">
                    <label for="price">Price</label>
                    <p>:</p>
                    <input type="text" name="price" id="price" />
                </div>
                <div class="add-books__form-form-group">
                    <label for="category">Category</label>
                    <p>:</p>
                    <input type="text" name="category" id="category" />
                </div>
            </div>
            <div class="add-books__form-col">
                <div class="add-books__form-form-group">
                    <label for="description">Description</label>
                    <p>:</p>
                    <textarea name="description" id="description" rows="4"></textarea>
                </div>
                <div class="add-books__form-form-group">
                    <label for="image">Image</label>
                    <p>:</p>
                    <input type="file" name="image" id="image" />
                </div>
                <div class="add-books__form-form-group">
                    <label for="quantity">Quantity</label>
                    <p>:</p>
                    <input type="text" name="quantity" id="quantity" />
                </div>
            </div>
            <div class="add-books__form-buttons">
                <button>Add Book</button>
                <button>View Books</button>
            </div>
        </form>
    </div>
</main>