<main class="order container">
    <h1 class="add-books__title">User</h1>
    <p class="order__sub-title">122 orders found</p>

    <nav class="order__nav">
        <ul>
            <li class="active"><a href="#">All Orders</a></li>
            <li><a href="#">User</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </nav>

    <table class="order__table">
        <thead class="order__table-header">
            <tr>
                <th>
                    <input type="checkbox" name="" id="" />
                </th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Created</th>
                <th>Phone Number</th>
                <th>User Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="order__table-body">
            <tr>
                <td class="order__table-body-img">
                    <img src="/added-books/thehardthing.jpg" alt="" />
                </td>
                <td class="order__table-body-details">
                    <h1>Cardo Dalisay</h1>
                    <p>angelobracero35<span>@@gmail.com</span></p>
                    <p>0921-863-6654</p>
                </td>
                <td class="order__table-body-id">
                    <p>ID: <span>#2175</span></p>
                    <div class="user">User</div>
                </td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                <td class="order__table-body-big">
                    <input type="checkbox" name="" id="" />
                    <div>2</div>
                    <div>Cardo Dalisay</div>
                    <div>angelobracero35<span>@@gmail.com</span></div>
                    <div>05 Feb 2024</div>
                    <div>0921-863-6654</div>
                    <div class="status user">User</div>
                    <i class="fa-solid fa-ellipsis"></i>
                </td>
            </tr>
            <tr>
                <td class="order__table-body-img">
                    <img src="/added-books/thehardthing.jpg" alt="" />
                </td>
                <td class="order__table-body-details">
                    <h1>Cardo Dalisay</h1>
                    <p>angelobracero35<span>@@gmail.com</span></p>
                    <p>0921-863-6654</p>
                </td>
                <td class="order__table-body-id">
                    <p>ID: <span>#2175</span></p>
                    <div class="user">User</div>
                </td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                <td class="order__table-body-big">
                    <input type="checkbox" name="" id="" />
                    <div>2</div>
                    <div>Cardo Dalisay</div>
                    <div>angelobracero35<span>@@gmail.com</span></div>
                    <div>05 Feb 2024</div>
                    <div>0921-863-6654</div>
                    <div class="status user">User</div>
                    <i class="fa-solid fa-ellipsis"></i>
                </td>
            </tr>
            <tr>
                <td class="order__table-body-img">
                    <img src="/added-books/thehardthing.jpg" alt="" />
                </td>
                <td class="order__table-body-details">
                    <h1>Cardo Dalisay</h1>
                    <p>angelobracero35<span>@@gmail.com</span></p>
                    <p>0921-863-6654</p>
                </td>
                <td class="order__table-body-id">
                    <p>ID: <span>#2175</span></p>
                    <div class="user">User</div>
                </td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                <td class="order__table-body-big">
                    <input type="checkbox" name="" id="" />
                    <div>2</div>
                    <div>Cardo Dalisay</div>
                    <div>angelobracero35<span>@@gmail.com</span></div>
                    <div>05 Feb 2024</div>
                    <div>0921-863-6654</div>
                    <div class="status user">User</div>
                    <i class="fa-solid fa-ellipsis"></i>
                </td>
            </tr>
            <tr>
                <td class="order__table-body-img">
                    <img src="/added-books/thehardthing.jpg" alt="" />
                </td>
                <td class="order__table-body-details">
                    <h1>Cardo Dalisay</h1>
                    <p>angelobracero35<span>@@gmail.com</span></p>
                    <p>0921-863-6654</p>
                </td>
                <td class="order__table-body-id">
                    <p>ID: <span>#2175</span></p>
                    <div class="user">User</div>
                </td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                <td class="order__table-body-big">
                    <input type="checkbox" name="" id="" />
                    <div>2</div>
                    <div>Cardo Dalisay</div>
                    <div>angelobracero35<span>@@gmail.com</span></div>
                    <div>05 Feb 2024</div>
                    <div>0921-863-6654</div>
                    <div class="status user">User</div>
                    <i class="fa-solid fa-ellipsis"></i>
                </td>
            </tr>
        </tbody>
    </table>
</main>