<main class="order container">
    <h1 class="add-books__title">Order</h1>
    <p class="order__sub-title">22 orders found</p>

    <nav class="order__nav">
        <ul>
            <li class="active"><a href="#">All Orders</a></li>
            <li><a href="#">Delivering</a></li>
            <li><a href="#">Pending</a></li>
            <li><a href="#">Completed</a></li>
            <li><a href="#">Failed</a></li>
        </ul>
    </nav>

    <table class="order__table">
        <thead class="order__table-header">
            <tr>
                <th>
                    <input type="checkbox" name="" id="" />
                </th>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Total Price</th>
                <th>Payment Method</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="order__table-body">
            <tr>
                <td class="order__table-body-img">
                    <img src="/added-books/thehardthing.jpg" alt="" />
                </td>
                <td class="order__table-body-details">
                    <h1>Cardo Dalisay</h1>
                    <p>01 Jan 2024</p>
                    <p>₱564.00</p>
                </td>
                <td class="order__table-body-id">
                    <p>ID: <span>#2175</span></p>
                    <div>Completed</div>
                </td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                <td class="order__table-body-big">
                    <input type="checkbox" name="" id="" />
                    <div>2</div>
                    <div>Cardo Dalisay</div>
                    <div>01 Jan 2024</div>
                    <div>P 564,242.00</div>
                    <div>Gcash</div>
                    <div class="status">Pending</div>
                    <i class="fa-solid fa-ellipsis"></i>
                </td>
            </tr>
            <tr>
                <td class="order__table-body-img">
                    <img src="/added-books/thehardthing.jpg" alt="" />
                </td>
                <td class="order__table-body-details">
                    <h1>Cardo Dalisay</h1>
                    <p>01 Jan 2024</p>
                    <p>₱564.00</p>
                </td>
                <td class="order__table-body-id">
                    <p>ID: <span>#2175</span></p>
                    <div>Completed</div>
                </td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                <td class="order__table-body-big">
                    <input type="checkbox" name="" id="" />
                    <div>2</div>
                    <div>Cardo Dalisay</div>
                    <div>01 Jan 2024</div>
                    <div>P 564,242.00</div>
                    <div>Gcash</div>
                    <div class="status">Pending</div>
                    <i class="fa-solid fa-ellipsis"></i>
                </td>
            </tr>
            <tr>
                <td class="order__table-body-img">
                    <img src="/added-books/thehardthing.jpg" alt="" />
                </td>
                <td class="order__table-body-details">
                    <h1>Cardo Dalisay</h1>
                    <p>01 Jan 2024</p>
                    <p>₱564.00</p>
                </td>
                <td class="order__table-body-id">
                    <p>ID: <span>#2175</span></p>
                    <div>Completed</div>
                </td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                <td class="order__table-body-big">
                    <input type="checkbox" name="" id="" />
                    <div>2</div>
                    <div>Cardo Dalisay</div>
                    <div>01 Jan 2024</div>
                    <div>P 564,242.00</div>
                    <div>Gcash</div>
                    <div class="status">Pending</div>
                    <i class="fa-solid fa-ellipsis"></i>
                </td>
            </tr>
            <tr>
                <td class="order__table-body-img">
                    <img src="/added-books/thehardthing.jpg" alt="" />
                </td>
                <td class="order__table-body-details">
                    <h1>Cardo Dalisay</h1>
                    <p>01 Jan 2024</p>
                    <p>₱564.00</p>
                </td>
                <td class="order__table-body-id">
                    <p>ID: <span>#2175</span></p>
                    <div>Completed</div>
                </td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                <td class="order__table-body-big">
                    <input type="checkbox" name="" id="" />
                    <div>2</div>
                    <div>Cardo Dalisay</div>
                    <div>01 Jan 2024</div>
                    <div>P 564,242.00</div>
                    <div>Gcash</div>
                    <div class="status">Pending</div>
                    <i class="fa-solid fa-ellipsis"></i>
                </td>
            </tr>
        </tbody>
    </table>
</main>