@using Alikabook.Utility;
@model List<BookInfo>

<main class="add-books container">
    <h1 class="add-books__title">View Books</h1>

    <div class="view-books">
        @foreach(var book in Model)
        {
             var truncatedTitle = SD.TruncateTitle(book.Title, 12);

            <div class="box">
                  <a asp-controller="Admin" asp-action="BookDetails" asp-route-id="@book.Bid"><img src="~/added-books/@book.Image" alt="" /></a>
              <div class="book-info">
                <p class="title">@truncatedTitle</p>
                <div class="box-buttons">
                        <a asp-controller="Admin" asp-action="BookDetails" asp-route-id="@book.Bid">View</a>
                    <a href="">Delete</a>
                </div>
              </div>
          </div>
        }
    </div>
</main>