@model Alikabook.ViewModels.UserInfoViewModel

@{
    var image = Model.ProfileImage;

    if (image is null)
    {
        image = "default_profile.png";
    }
}

<a asp-controller="User" asp-action="Profile">
    <img src="~/images/profile_pic/@image" alt="your profile picture" />
</a>
<div>
    <p>Hello, @Model.FirstName @Model.LastName!</p>
    <p>@Model.Email</p>
</div>
    