<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlikaBook</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/180a654a03.js"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="imags/x-icon" href="~/images/icons/alikabook.ico" />
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Alikabook.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header class="header">
        <div class="header__main">
            <a asp-controller="Home" asp-action="Index" class="header__main-left">
                <p class="header__main-logo">alikabook</p>
                <p class="header__main-logo header__main-logo--secondary">
                    bookstore
                </p>
            </a>
            <div class="header__main-middle" method="get">
                <form asp-action="SearchBook">
                    <input type="text" name="searchQuery" placeholder="Search Books" aria-label="Search" />
                    <input type="submit" value="" aria-label="submit" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
            <div class="header__main-right">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole(SD.Role_Customer))
                    {
                        <a asp-area="Customer" asp-controller="Home" asp-action="Viewcart">
                            <div class="header__main-cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <p>cart</p>
                            </div>
                        </a>
                    }
                    else if (User.IsInRole(SD.Role_Admin))
                    {
                        <a asp-area="Admin" asp-controller="Admin" asp-action="Dashboard">
                            <div class="header__main-cart">
                                <i class="fa-regular fa-user"></i>
                                <p>Go to Admin</p>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <a id="register" asp-area="Identity" asp-page="/Account/Login">
                        <div class="header__main-login">
                            <i class="fa-regular fa-user"></i>
                            <p>login/register</p>
                        </div>
                    </a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole(SD.Role_Customer))
                    {
                        <div class="header__sub-profile2">
                            @await Component.InvokeAsync("UserImg")
                        </div>
                    }
                }
            </div>
            <i class="fa-solid fa-bars"></i>
        </div>
            <nav class="header__sub">
                <form asp-action="SearchBook" id="searchBar2">
                <input type="text" name="searchQuery" placeholder="Search Books" aria-label="Search" />
            </form>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole(SD.Role_Customer)) 
                {
                    <div class="header__sub-profile">
                        @await Component.InvokeAsync("UserInfo")
                    </div>
                }
            }
            <i class="fa-solid fa-chevron-left" id="scrollLeft" aria-label="Scroll Left" role="button" tabindex="0"></i>
            <i class="fa-solid fa-chevron-right" id="scrollRight" aria-label="Scroll Right" role="button" tabindex="0"></i>
            <ul class="header__sub-ul" id="subHeaderUl">
                <li>
                    <a asp-controller="Home" asp-action="index"><i class="fa-solid fa-house"></i>home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Fiction">Fiction</a>
                </li>
                 <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Non-Fiction">Non-Fiction</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Programming & Technology">Programming & Technology</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Business & Economics">Business & Economics</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Education & Teaching">Education & Teaching</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Children’s Books">Children’s Books</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Graphic Novels & Comics">Graphic Novels & Comics</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Poetry & Drama">Poetry & Drama</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Science & Nature">Science & Nature</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Arts & Photography">Arts & Photography</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="History">History</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Spirituality & Religion">Spirituality & Religion</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Lifestyle">Lifestyle</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="DisplayCategory" asp-route-category="Miscellaneous">Miscellaneous</a>
                </li>
            </ul>
            <hr class="hr" />
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole(SD.Role_Customer))
                {
                   <nav class="header_sub_ul_sm">
                       <ul>
                            <li><a asp-controller="Home" asp-action="index"><i class="fa-solid fa-house"></i><span>Home</span></a></li>
                            <li><a asp-controller="Home" asp-action="ViewCart"><i class="fa-solid fa-cart-shopping"></i><span>Cart</span></a></li>
                            <li><a asp-controller="User" asp-action="Profile"><i class="fa-solid fa-user"></i><span>Account Settings</span></a></li>
                            <li><a asp-controller="User" asp-action="MyOrder"><i class="fa-solid fa-book"></i><span>My Order</span></a></li>
                            <li><a asp-controller="User" asp-action="OrderHistory"><i class="fa-solid fa-clock-rotate-left"></i><span>Order History</span></a></li>
                            <li><a asp-controller="" asp-action=""><i class="fa-solid fa-message"></i><span>Contact</span></a></li>
                       </ul>
                   </nav>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "Customer" })" method="post">
                        <button class="header__sub-logout">
                            <i class="fa-regular fa-user"></i>
                            <p>logout</p>
                        </button>
                    </form>
                }   
            }
            else
            {
                <a id="register" asp-area="Identity" asp-page="/Account/Login">
                    <div class="header__sub-login">
                        <i class="fa-regular fa-user"></i>
                        <p>login/register</p>
                    </div>
                </a>
            }
           
        </nav>
    </header>
    @if (User.Identity.IsAuthenticated)
            {
        if (User.IsInRole(SD.Role_Customer))
        {
            <div class="header__settings" id="headerSetting">
                <div class="header__settings-wrapper container">
                    <div class="header__settings-info">
                        @await Component.InvokeAsync("UserInfo")
                    </div>
                    <hr />
                    <nav class="header__settings-nav">
                        <ul>
                            <li>      
                                <a href=""><i class="fa-solid fa-message"></i>Contact</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Viewcart"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="Profile"><i class="fa-solid fa-user"></i>Account Settings</a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="MyOrder"><i class="fa-solid fa-book"></i>My Order</a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="OrderHistory"><i class="fa-solid fa-clock-rotate-left"></i>Order History</a>
                            </li>
                            <li>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "Customer" })" method="post">
                                    <button class="header__settings-nav-btn">
                                        <i class="fa-regular fa-user"></i>
                                        <p>logout</p>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        }
    }

    <partial name="_Notification" />
    @RenderBody()
      
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__column">
                <p class="footer__heading">Alikabook <span>Bookstore</span></p>
                <blockquote class="footer__slogan"> Inspiring Readers with One Story, One Mind </blockquote>

                <div class="footer__grid">
                    <div>
                        <p class="footer-titles">inquiries or concern?</p>    
                        <div class="footer__inquiries-email">
                            <i class="fa-solid fa-envelope"></i>
                            <p>Alikabookbookstor@gmail.com</p>
                        </div>
                    </div>
                    <div>
                        <p class="footer-titles">Website</p>
                        <div class="footer__website">
                            <a asp-controller="Home" asp-action="Index">ABOUT</a>
                            <a asp-controller="Home" asp-action="FeaturedAuthors">FEATURED AUTHORS</a>
                        </div>
                    </div>
                    <div>
                        <p class="footer-titles">Service</p>
                        <div class="footer__website">
                            <a asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </div>
                    </div>
                    <div>
                        <p class="footer-titles">Payment Methods</p>
                        <div class="footer__website">
                            <p>Cash on delivery</p>
                            <p>Gcash / Paypal</p>
                        </div>
                    </div>
                </div>

                <p class="footer-titles follow-us">Follow us</p>
                <div class="footer__icons">
                    <a href="https://www.facebook.com/janharold.dionela" target="_blank">
                        <img src="~/images/icons/facebook.png" alt="facebook icon" width="50" height="50" />
                    </a>
                    <a href="https://mail.google.com/mail/u/0/?to=alikabookbookstore@gmail.com&tf=cm" target="_blank">
                        <img src="~/images/icons/gmail.png" alt="gmail icon" width="50" height="50" />
                    </a>
                </div>
            </div>
            <div class="footer__copyright">
                <hr />
                <p class="footer__text">
                    All Rights are reserved &copy; <span>Alikabook</span> Bookstore
                </p>
            </div>
        </div>
    </footer>

 
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
