<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlikaBook</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/180a654a03.js"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="~/images/icons/alikabook.ico" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Alikabook.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header class="header">
        <button class="header__menu"><i class="fa-solid fa-bars"></i></button>
        <p class="header__title">Admin Pannel</p>
        <form class="header__logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })" method="post">
            <button>
                <i class="fa-solid fa-power-off"></i>
            </button>
            <div>Logout</div>
        </form>

    </header>

    <aside class="sidebar">
        <div class="sidebar__logo">
            <p>Alikabook</p>
            <p>Bookstore</p>
        </div>

        <button class="sidebar__exit"><i class="fa-solid fa-xmark"></i></button>

        <a asp-action="Dashboard" class="sidebar__dashboard">Dashboard</a>
        <div class="sidebar__menu">
            <button>
                <i class="fa-solid fa-book"></i>
                <p>Product Management</p>
                <i class="fa-solid fa-angle-right"></i>
            </button>
            <div class="sidebar__submenu">
                <a asp-controller="Admin" asp-action="AddBooks">&#8226; &nbsp; Add Books</a>
                <a asp-controller="Admin" asp-action="ViewBook">&#8226; &nbsp; View Books</a>
            </div>
            <button>
                <i class="fa-solid fa-book"></i>
                <p>Order Management</p>
                <i class="fa-solid fa-angle-right"></i>
            </button>
            <div class="sidebar__submenu">
                <a asp-action="AllOrders">&#8226; &nbsp; All Orders</a>
                <a asp-action="PendingOrders">&#8226; &nbsp; Pending Orders</a>
                <a asp-action="DeliveringOrders">&#8226; &nbsp; Delivering Orders</a>
                <a asp-action="CompletedOrders">&#8226; &nbsp; Completed Orders</a>
                <a asp-action="FailedOrders">&#8226; &nbsp; Failed Orders</a>
            </div>
            <button>
                <i class="fa-solid fa-book"></i>
                <p>Inventory Management</p>
                <i class="fa-solid fa-angle-right"></i>
            </button>
            <div class="sidebar__submenu">
                <a asp-action="InventoryDashboard">&#8226; &nbsp; Inventory Dashboard</a>
                <a asp-action="StockManagement">&#8226; &nbsp; Stock Management</a>
            </div>
            <button>
                <i class="fa-solid fa-book"></i>
                <p>Customer Management</p>
                <i class="fa-solid fa-angle-right"></i>
            </button>
            <div class="sidebar__submenu">
                <a asp-controller="Admin" asp-action="AllUserList">&#8226; &nbsp; All Customers</a>
            </div>
        </div>
    </aside>
    
    <partial name="_Notification" />
    @RenderBody()


    <script src="~/js/admin.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
