<h1 class="account__title">My Account</h1>
<main class="account container">
    <nav class="account__nav">
        <ul>
            <li class="active"><a href="">Profile</a></li>
            <li><a href="">My Order</a></li>
            <li><a href="">Order History</a></li>
        </ul>
    </nav>

    <section class="account__photo">
        <h1>Your Photo</h1>
        <div class="indent account__photo-container">
            <img src="~/added-books/thehardthing.jpg" alt="" />
            <div>
                <button class="account__photo-remove">Remove Photo</button>
                <button class="account__photo-upload">Upload Photo</button>
            </div>
        </div>
    </section>
    <section class="account__details">
        <h1>Personal Details</h1>
        <div class="indent">
            <form action="">
                <div class="account__details-form-group">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" id="fname" />
                </div>
                <div class="account__details-form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" id="lname" />
                </div>
                <div class="account__details-form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="phone" />
                </div>
                <div class="account__details-form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" />
                </div>
                <div class="account__details-form-group">
                    <label for="house">House no./Blk/Lot/Street</label>
                    <input type="text" name="house" id="house" />
                </div>
                <div class="account__details-form-group">
                    <label for="barangay">Barangay</label>
                    <input type="text" name="barangay" id="barangay" />
                </div>
                <div class="account__details-form-group">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" />
                </div>
                <div class="account__details-form-group">
                    <label for="province">Province</label>
                    <input type="text" name="province" id="province" />
                </div>
                <div class="account__details-form-group">
                    <label for="zipcode">Zip Code</label>
                    <input type="text" name="zipcode" id="zipcode" />
                </div>
                <div class="account__details-form-group">
                    <label for="birthday">Birthday<span class="optional">(optional)</span></label>
                    <input type="date" name="birthday" id="birthday" />
                </div>
                <button class="account__details-edit">Edit Info</button>
            </form>
        </div>
    </section>
    <section class="account-change-delete">
        <div class="account__change">
            <h1>Change Password</h1>
            <div class="indent">
                <p>Would you like to change your password?</p>
                <a href="">Yes, I want to change my password.</a>
            </div>
        </div>
        <div class="account__delete">
            <h1>Delete Account</h1>
            <div class="indent">
                <p>Would you like to delete your account?</p>
                <a href="">Yes, I want to delete my account.</a>
            </div>
        </div>
    </section>
</main>